html, body {
    padding :0px;
    margin : 0px;
    user-select: none;
}

.ant-menu-submenu-title {
    padding: 0 10px 0 10px !important;
    margin: 0 !important;
}

/* 스타일 정의 */
.ellipsis-cell {
    font-size : 12px;
    white-space: nowrap;        /* 텍스트를 한 줄로 유지 */
    overflow: hidden;           /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis;    /* 초과 텍스트를 '...' 처리 */
    max-width: 350px;           /* 원하는 최대 너비 설정 */

}


/* styles.css 또는 글로벌 CSS 파일에 추가 */
.editable-cell-value-wrap {
    transition: background-color 0.3s ease;
    cursor: pointer; /* 마우스를 올렸을 때 커서가 변경되도록 설정 */
}

.editable-cell-value-wrap:hover {
    background-color: #e6f7ff; /* hover 시 배경색 변경 */
    border: 1px solid lightGray; /* 밑줄을 점선으로 표시하여 강조 */
    border-radius: 3px;
}

.hoverText {
    color : black;
}
.hoverText:hover {
    color : blue;
}

/* 짝수 행의 배경색을 다르게 설정 */
.editable-row {
    background-color: #f5f5f5; /* 원하는 색상으로 설정 */
    cursor : pointer;
}

@media print {
    /* 페이지 크기 설정 (A4 기준) */
    @page {
        size: A4;
        margin: 20mm;
    }

    /* 강제로 페이지를 나누는 클래스 */
    .page-break {
        break-before: always; /* 페이지를 나눔 */
    }

    /* 인쇄 시 화면만 출력 (숨기고 싶은 요소) */
    .no-print {
        display: none;
    }
}

.ag-row-drag {
    background-color: #f0f8ff;
    border: 1px solid #d3d3d3;
}

.custom-upload .ant-upload-list {
    max-height: 200px; /* 파일 리스트의 최대 높이 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    border: 1px solid #ddd; /* 테두리 추가 */
    padding: 5px;
}

.custom-textarea .ant-input {
    font-size: 12px !important;
}

.custom-datepicker .ant-picker-input > input {
    font-size: 12px; /* 입력 필드의 글씨 크기 */
}

.custom-select .ant-select-selector {
    font-size: 11px; /* 글씨 크기 */
    /*display: flex;*/
    /*align-items: center;*/
    height: 8px;    /* 셀렉터 높이 */
}

.custom-select .ant-select-item {
    font-size: 8px; /* 드롭다운 항목 글씨 크기 */
}

.custom-rangepicker .ant-picker {
    font-size: 12px; /* 글씨 크기 */
    height: 32px;    /* 입력 필드 높이 */
}

.custom-rangepicker .ant-picker-input > input {
    font-size: 12px; /* 입력 텍스트 크기 */
}


.custom-menu .ant-menu-overflow-item .ant-menu-submenu .ant-menu-submenu-horizontal{
    padding: 0 5px !important; /* 좌우 패딩을 10px로 설정 */
}

.custom-menu .ant-menu-submenu-popup {
    top: 0 !important; /* 상단 위치 고정 */
    transform: none !important; /* 기본 transform 제거 */
    margin-top: -4px !important; /* 필요 시 간격 조정 */
}

/*++++++++++++/*/


.expandable-section {
    height: 0;
    transition: height 0.5s ease; /* 부드럽게 펼쳐지는 애니메이션 */

    /*border-top: 0.5px solid lightGray;*/
}

.expandable-section.expanded {
    height: 200px; /* 섹션이 펼쳐질 때의 최종 높이 */
}

.menu-item:hover {
    color: #173F95; /* hover 시 텍스트 색상을 검정으로 변경 */
}


/*=====================================*/


/* 스크롤바 커스터마이징 */
.content {
    height: 300px;
    overflow-y: scroll; /* 세로 스크롤 활성화 */
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #ddd;
}

/* Webkit 기반 브라우저 (크롬, 엣지, 사파리) */
::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
    height: 8px; /* 가로 스크롤바 높이 */
}

::-webkit-scrollbar-thumb {
    background-color: #71d1df; /* 막대 색상 */
    border-radius: 10px; /* 막대 둥근 모서리 */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #71d1df; /* hover 시 색상 */
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* 트랙 배경 색상 */
    border-radius: 10px;
}

/* Firefox */
body {
    scrollbar-width: thin; /* 스크롤바 두께: thin, auto */
    scrollbar-color: #888 #f0f0f0; /* 막대 색상과 배경 색상 */
}


.gradient-arrow {
    font-size: 1rem; /* 화살표 크기 */
    font-weight: bold;
    padding-top: 0;
    font-family: Arial, sans-serif;
    color: #71d1df; /* 화살표 색상 */
    display: inline-block; /* transform 처리를 위해 필요 */
    animation: move-down 0.6s infinite linear; /* 아래로 이동하는 애니메이션 */
}

/* 애니메이션 키프레임 */
@keyframes move-down {
    0% {
        transform: translateY(0); /* 초기 위치와 90도 회전 */
    }
    100% {
        transform: translateY(15px); /* 아래로 이동하면서 90도 유지 */
    }
}

.ant-menu{
    background-color: red;
}







/*============================================================*/


/* 기본 상태 */
.box {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease; /* 부드러운 애니메이션 */
}

/* 펼쳐지는 상태 */
.box.expanding {
    height: 160px
}

/* 닫히는 상태 */
.box.collapsing {
    height: 0;
}



.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: blue;
}

/* ✅ 증가/감소 버튼을 왼쪽으로 이동 */
.custom-input-number .ant-input-number-handler-wrap {
    display:  none
}

/* ✅ 입력 필드를 오른쪽에 맞추기 */
.custom-input-number .ant-input-number-input-wrap {
    text-align: right; /* 텍스트 우측 정렬 */
    padding-left: 40px; /* 버튼 공간 확보 */

}


.custom-input-number input::-webkit-outer-spin-button,
.custom-input-number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.flexlayout__layout {
    position: relative !important;
}
/* 탭의 font-size 조정 */
.flexlayout__tab_button_content {
    font-size: 12px !important; /* 원하는 크기로 설정 */
}
.table-container {
    width: 100%;
}
.htContainer {
    width: 100% !important;
}

.htCore td {
    white-space: pre-wrap !important; /* ✅ 줄바꿈 적용 */
    word-break: break-word; /* ✅ 긴 단어도 자동 줄바꿈 */
    font-size: 12px !important; /* 원하는 크기로 조정 */
    padding: 2px 10px !important; /* 패딩 줄이기 (선택 사항) */
}
.handsontableInput {
    font-size: 8px !important;
    padding: 4px 10px !important;
    line-height: normal !important; /* 줄 간격 유지 */
}
/* 🔥 빨간색 텍스트 적용 */
.ht-red {
    color: red !important;
    text-align: right;
    font-weight: bold;
}

/* 🔥 숫자 컬럼 우측 정렬 + 빨간색 */
.ht-right-align {
    text-align: right !important;
    color: red !important;
    font-weight: bold;
}
.colHeader {
    font-weight:700;
    /*color: gray;*/
}
.table-wrapper {

    width: 100%;
    height: calc(100vh - 250px); /* 🔥 부모 요소가 화면 높이에 따라 조정 */
    min-height: 300px; /* 최소 높이 설정 */
    display: flex;
    flex-direction: column;

}


/* 🔥 Autocomplete 드롭다운 필드의 화살표(▼) 표시 */
.handsontable .htAutocompleteEditor {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    z-index: 9999999;
}





/* 🔥 특정 컬럼(Model, Item, Maker)의 헤더만 빨간색으로 설정 */
.redHeader {
    color: orangered !important;
    font-size: 10px;
}
/* 🔥 특정 컬럼(Model, Item, Maker)의 헤더만 빨간색으로 설정 */
.htLeft {
    background-color: #bae7ff;
    font-size: 8px !important;
}

input, textarea {
    spellcheck: false;
    -webkit-text-security: none;
}

input, textarea {
    border: 1px solid #ccc; /* 기본 테두리 */
    transition: border 0.3s ease-in-out;
    outline: none;
    width : 100%;
    padding-left : 7px;
}

input:focus, textarea:focus {
    border: 1px solid #007bff; /* 파란색 테두리 */

}

/* 모든 브라우저에서 스핀 버튼 제거 */
/*input[type="number"] {*/
/*    -moz-appearance: textfield; !* Firefox *!*/
/*}*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome, Safari */
    margin: 0;
}

.ant-upload-list {
    /*max-height: 265px;*/
    /*overflow-y: auto;*/
}

.ag-header {
    background-color: #bae7ff !important;
}

#hot-container {
    height: 100vh; /* 또는 100% (부모 요소가 높이를 가지고 있어야 함) */
    width: 100%;
}

/* 컬럼 헤더 높이 줄이기 */
.ht_clone_top th {
    height: 15px !important; /* 원하는 높이로 조절 */
    line-height: 10px !important;
}

/* 컬럼 헤더 폰트 크기 조절 */
.ht_clone_top .colHeader {
    font-size: 12px !important; /* 원하는 크기로 조절 */
}
/* 기본 탭 스타일 */
.flexlayout__tab {
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* 활성화된 탭 스타일 */
.active-tab {
    background-color: #e6f6ff !important; /* 파란색 배경 */

}