html, body {
    padding :0px;
    margin : 0px;
    user-select: none;
}


/* 전체 메뉴 배경을 lightGray로 설정 */
.ant-layout-sider {
    background-color: #f4f4f5 !important; /* Sider 배경색 */
}

.ant-menu {
    background-color: #f4f4f5 !important; /* 메뉴 배경색 */
}

/* 선택된 메뉴 아이템 */
.ant-menu-item-selected {
    background-color: #eaeaeb !important; /* 선택된 메뉴 배경색 */
    color: black !important; /* 선택된 항목의 텍스트 색상 변경 */
    border : none;
}



/* 호버 시 배경색 */
.ant-menu-item:hover {
    background-color: #eaeaeb !important; /* 호버 시 배경색 */
}

/* 선택된 메뉴의 텍스트, 아이콘, 그리고 배경 모두 lightGray */
.ant-menu-item-selected::after {
    border: none !important;
}

/* 상위 메뉴의 기본 색상 유지 */
.ant-menu-submenu-selected {
    background-color: inherit !important; /* 상위 메뉴 배경색을 기본으로 유지 */
    color: inherit !important; /* 상위 메뉴 텍스트 색상 유지 */
}

/* 하위 메뉴 선택 시에도 상위 메뉴의 아이콘 색상 유지 */
.ant-menu-submenu-selected .ant-menu-item-icon {
    color: inherit !important; /* 상위 메뉴 아이콘 색상 유지 */
}
.ant-menu-item::after {
    content: none !important; /* after 요소 제거 */
}

/* 선택된 메뉴의 텍스트, 아이콘, 그리고 배경 모두 lightGray */
.ant-menu-item-selected::after {
    border-right: none !important; /* 선택된 항목의 오른쪽 보더 제거 */
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
    background-color: #eaeaeb !important; /* hover 시 배경색 유지 */
    color: inherit !important; /* hover 시 텍스트 색상 유지 */
}

/* 메뉴 아이템 아이콘 hover 시 색상 유지 */
.ant-menu-item:hover .ant-menu-item-icon,
.ant-menu-submenu-title:hover .ant-menu-item-icon {
    /*color: inherit !important; !* 아이콘 색상 유지 *!*/
}
.ant-menu-root {
    height: 38px !important;
}

.ant-menu-submenu-title:hover {
    height: 38px !important;
}

.ant-menu-submenu-title {
    padding: 0 10px 0 10px !important;
    margin: 0 !important;
}

.ant-menu-title-content {
    margin: 2px !important;
}

.ant-menu-submenu-arrow {
    right: 0 !important;
}

/* 서브메뉴 hover 시에도 스타일 유지 */
.ant-menu-submenu:hover {
    /*background-color: lightGray !important; !* 서브메뉴 hover 시 배경색 유지 *!*/
    color: inherit !important; /* 서브메뉴 텍스트 색상 유지 */
}


/* 스타일 정의 */
.ellipsis-cell {
    font-size : 12px;
    white-space: nowrap;        /* 텍스트를 한 줄로 유지 */
    overflow: hidden;           /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis;    /* 초과 텍스트를 '...' 처리 */
    max-width: 350px;           /* 원하는 최대 너비 설정 */

}


/* styles.css 또는 글로벌 CSS 파일에 추가 */
.editable-cell-value-wrap {
    transition: background-color 0.3s ease;
    cursor: pointer; /* 마우스를 올렸을 때 커서가 변경되도록 설정 */
}

.editable-cell-value-wrap:hover {
    background-color: #e6f7ff; /* hover 시 배경색 변경 */
    border: 1px solid lightGray; /* 밑줄을 점선으로 표시하여 강조 */
    border-radius: 3px;
}

.hoverText {
    color : black;
}
.hoverText:hover {
    color : blue;
}

/* 짝수 행의 배경색을 다르게 설정 */
.editable-row {
    background-color: #f5f5f5; /* 원하는 색상으로 설정 */
    cursor : pointer;
}

@media print {
    /* 페이지 크기 설정 (A4 기준) */
    @page {
        size: A4;
        margin: 20mm;
    }

    /* 강제로 페이지를 나누는 클래스 */
    .page-break {
        break-before: always; /* 페이지를 나눔 */
    }

    /* 인쇄 시 화면만 출력 (숨기고 싶은 요소) */
    .no-print {
        display: none;
    }
}

.ag-row-drag {
    background-color: #f0f8ff;
    border: 1px solid #d3d3d3;
}

.custom-upload .ant-upload-list {
    max-height: 200px; /* 파일 리스트의 최대 높이 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    border: 1px solid #ddd; /* 테두리 추가 */
    padding: 5px;
}

.custom-textarea .ant-input {
    font-size: 12px !important;
}

.custom-datepicker .ant-picker-input > input {
    font-size: 12px; /* 입력 필드의 글씨 크기 */
}

.custom-select .ant-select-selector {
    font-size: 11px; /* 글씨 크기 */
    /*display: flex;*/
    /*align-items: center;*/
    height: 8px;    /* 셀렉터 높이 */
}

.custom-select .ant-select-item {
    font-size: 8px; /* 드롭다운 항목 글씨 크기 */
}

.custom-rangepicker .ant-picker {
    font-size: 12px; /* 글씨 크기 */
    height: 32px;    /* 입력 필드 높이 */
}

.custom-rangepicker .ant-picker-input > input {
    font-size: 12px; /* 입력 텍스트 크기 */
}


.custom-menu .ant-menu-overflow-item .ant-menu-submenu .ant-menu-submenu-horizontal{
    padding: 0 5px !important; /* 좌우 패딩을 10px로 설정 */
}

